#container{
    width: 220px;
}
input[type=button], input[type=submit]
{
    width: 40px;
    height: 40px;
    margin-top: 3px;
}

.number{
    background-color: blue;
}
.number:hover{
    background-color: lightblue
}
.del{
    background: url(./img/backspace.png) no-repeat center;
}
#display_sum, #display_answer
{
    width: 210px;
    height: 25px;
    font-size: 18px;
    margin-bottom: 7px;
}